# Ignore the downloads folder
downloads/

# Ignore the torrents folder
torrents/

# Ignore the go.mod file
go.mod

# Ignore the test.png file
test.png

# Ignore the compiled binary file
torrent-go

# macOS system files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
